{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="max-w-lg mx-auto">
            <div class="bg-white p-8 rounded-lg shadow-md">
                <h2 class="text-2xl font-bold mb-6 text-center">Request Password Reset</h2>
                <form action="/send-reset-password-link" method="POST">
                    {{csrfField}}
                    <div class="mb-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="email">Email</label>
                        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                               id="email" name="email" type="email" placeholder="email@example.org" required>
                    </div>
                    <button class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                            type="submit">Send Reset Link
                    </button>
                </form>
                <p class="text-center mt-4 text-sm">
                    <a class="text-blue-500 hover:text-blue-700" href="/login">Back to Login</a>
                </p>
        </div>
    </div>
{{end}}