{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="max-w-lg mx-auto">
            <div class="bg-white p-8 rounded-lg shadow-md">
                <h2 class="text-2xl font-bold mb-6 text-center">Reset Password</h2>
                <form action="/reset-password" method="POST">
                    {{csrfField}}
                    <div class="mb-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="password">New Password</label>
                        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                               id="password" name="password" type="password" placeholder="Enter your new password" required
                               >
                    </div>
                    <div class="mb-6">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="confirm_password">Confirm Password</label>
                        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                               id="confirm_password" name="confirm_password" type="password" placeholder="Confirm your new password" required
                               >
                    </div>
                    <input type="hidden" name="token" value="{{.Token}}">
                    <button class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                            type="submit">Reset Password
                    </button>
                </form>
            </div>
        </div>
    </div>
{{end}}